<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<p  th:text="'Xin chào '+${name}+' !'"></p>
<p th:text="'Phân quyền của bạn: '+${role}"></p>
<form action="/customer/search" method="get">
    <label for="name">Nhập tên:</label>
    <input type="text" id="name" name="input" th:value="${input}">
    <button type="submit"name="type" value="user">Tìm kiếm</button>

</form>
<div class="btn btn-primary mt-2">
    <a href="/homeuser" style="color: white; text-decoration: none;">Xem tất cả</a>
</div>
<table class="table">
    <thead class="table-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>email</th>

    </tr>
    </thead>
    <tbody>


    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"/>
        <td th:text="${customer.name}"/>
        <td th:text="${customer.email}"/>

    </tr>
    </tbody>
</table>

<form action="/logout" method="post">
    <button  type="submit" class="btn btn-primary" value="logout">Logout</button>
</form>
</body>
</html>